<div class="tip-le">
    <div class="contenedor">
      <main class="contenido" style="text-align: justify;">
        <h1> Por que deverias aprender con nosotros?</h1>
        <br>
        <hr>
        <p class="pa">
          Hoy en día, existen una gran cantidad de frameworks JavaScript, que te permiten desarrollar importantes
          proyectos web. Sin embargo, aquí te presentamos algunas razones por la cual deberías elegir angular:<br><br>
  
          Su comunidad: Angular es un framework muy popular, por ende hay muchos desarrolladores que lo ultilizan y como
          desarrollador sabes de la importancia de contar con una gran comunidad que esté apoyándose entre sí, ya que a
          través de estas comunidades es posible conocer e interactuar con muchas personas alrededor del mundo y por sobre
          todo el compartir constante conocimiento.<br><br>
  
          Está respaldado por Google: El motor de búsqueda líder del mundo Google, respalda fuertemente éste framework y
          tiene un equipo trabajando constantemente en desarrollar mejoras en Angular, proveyendo de característica y
          funcionalidades que lo cataloguen como el mejor framework disponible. Razón por la cual muchos desarrolladores
          prefieren angular antes que otros frameworks.<br><br>
  
          Utiliza como lenguaje TypeScrip:t Por otro lado, Angular utiliza como lenguaje TypeScript la cual fue
          desarrollada y es mantenida por Microsoft. Es un lenguaje de programación libre y es open source.
        </p>
      </main>
    </div>
  </div>
  