<div class="wrapper">
 

    <!-- Top Container -->
    <section class="top-container">
      <div class="showcase">
        <h1>SECUNDARIA</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, ipsam! Nihil quo minima nulla atque!</p>
        <!-- <a href="#" class="btn">Read More</a> -->
      </div>
    </section>

    <!-- Boxes Section -->
    <section class="boxes">
      <div class="box">
        <i class="fas fa-chart-pie fa-4x"><img src="https://i.ibb.co/xD73WPS/mate2.png" alt="" class="ico"></i>
        <h3>Matematicas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        <button class="button" style="vertical-align:middle"><span>Mas</span></button>
      </div>
      <div class="box">
        <i class="fas fa-globe fa-4x"><img src="https://i.ibb.co/XCmpZLk/fisica.png" alt="" class="ico"></i>
        <h3>Fisica</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        <button class="button" style="vertical-align:middle"><span>Mas</span></button>
      </div>








      <div class="box">
        <i class="fas fa-cog fa-4x"><img src="https://i.ibb.co/kXdSttX/quimica1.png" alt="" class="ico"></i>
        <h3>Quimica</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        <button class="button" style="vertical-align:middle"><span>Mas</span></button>
      </div>
      <div class="box">
        <i class="fas fa-users fa-4x"><img src="https://i.ibb.co/h8tGX5D/historia2.png" alt="" class="ico"></i>
        <h3>Histotia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        <button class="button" style="vertical-align:middle"><span>Mas</span></button>
      </div>
    </section>

    <!--seccion  -->
    <section class="boxes">
      <div class="box">
        <i class="fas fa-users fa-4x"><img src="https://i.ibb.co/2shK8ZP/bio.png" alt="" class="ico"></i>
        <h3>Biologia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        <button class="button" style="vertical-align:middle"><span>Mas</span></button>
      </div>
      <div class="box">
        <i class="fas fa-globe fa-4x"><img src="https://i.ibb.co/mNDzFg7/lite.png" alt="" class="ico"></i>
        <h3>Literatura</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        <button class="button" style="vertical-align:middle"><span>Mas</span></button>
      </div>
   
    </section>
  </div>
  <!-- Wrapper Ends -->