<!--  -->
<main class=main1>
    <article>
        <h1>Diseño web</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quam quibusdam nihil similique et voluptates accusamus debitis quia facilis repellendus?</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto excepturi enim reprehenderit expedita, mollitia animi autem sed reiciendis laudantium culpa natus ea blanditiis ullam molestias itaque laboriosam sunt quidem.</p>
    </article>
</main>
    <!--  -->
    <main class="main2">
        <div class="content-two">
            <div class="content-details">
                <div class="content-item2">
                    <label class="icon-heart"> <img src="https://i.ibb.co/3CkTStT/consultoria1.png" class="img-icon" alt=""></label>
                    <h4 class="titulo">Consultoria</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ut nulla dicta, ab doloremque consequatur harum mollitia, ipsam minus magnam quaerat praesentium ratione, amet aperiam incidunt. Iste porro molestiae non.</p>
                    <button class="button" style="vertical-align:middle"><span>Mas</span></button>
                </div>
                <div class="content-item2">
                    <label class="icon-laptop"> <img src="https://i.ibb.co/KFNjv7S/capacitacion1.png" class="img-icon" alt=""></label>
                    <h4 class="titulo">Capacitacion</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ut nulla dicta, ab doloremque consequatur harum mollitia, ipsam minus magnam quaerat praesentium ratione, amet aperiam incidunt. Iste porro molestiae non.</p>
                    <button class="button" style="vertical-align:middle" routerLink="consultoria"><span> Mas </span></button>
                </div>
                <div class="content-item2">
                    <label class="icon-support"> <img src="https://i.ibb.co/r7cLYJT/software3.png" class="img-icon" alt=""> </label>
                    <h4 class="titulo">Desarrollo de Software</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ut nulla dicta, ab doloremque consequatur harum mollitia, ipsam minus magnam quaerat praesentium ratione, amet aperiam incidunt. Iste porro molestiae non.</p>
                    <button class="button" style="vertical-align:middle" onclick="" routerLink="desarrollo-software"><span>Mas</span></button>
                </div>
            </div>
        </div>
        <div class="content-for">
            <div class="content-item3">
                <h4 class="titulo">WE CREATE FIRST CLASS DESIGN</h4>
                <p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
                <img src="https://i.ibb.co/VwjcXgZ/img56.png" class="img5">
            </div>
        </div>
     
    </main>

    <!-- <router-outlet></router-outlet> -->
    