<div class="header">
    <div class="container-header">
        <label class="icon-menu"></label>
    </div>
</div>

<div class="container-portada">
    <div class="capa-gradient"></div>
    <div class="container-details">
        <div class="details">
            <h1>Empresa de Desarrolo Innovacion y Tenologia</h1>
            <p>Eres más que capaz de encontrar el éxito, pero solo ocurrirá si te pones a ello (Vince Lombardi)</p>
            <!-- <button>Ver mas detalles</button> -->
        </div>
    </div>
</div>

