<div class="tip-le">
    <div class="contenedor">
      <main class="contenido" style="text-align: justify;">
        <h1>Comunicado 33/2019</h1>
    
        <hr>
        <p class="pa">
          Ante la toma pacífica de las oficinas de la Jefatura Departamental de Trabajo de Potosí, efectuada por supuestos
          miembros del Comité Cívico Potosinista (COMCIPO), el día de hoy viernes 06 de Diciembre de 2019 en horas de la
          mañana, y a efectos de salvaguardar la integridad física de los servidores públicos y los ambientes de dicha
          repartición estatal; el Ministerio de Trabajo, Empleo y Previsión Social a través de la Dirección General de
          Trabajo, Higiene y Seguridad Ocupacional, COMUNICA a la población en general y en específico a la población
          Potosina, que a partir de la fecha queda suspendida la atención al público en la Jefatura Departamental de
          Trabajo Potosí.
  
          Utiliza como lenguaje TypeScrip:t Por otro lado, Angular utiliza como lenguaje TypeScript la cual fue
          desarrollada y es mantenida por Microsoft. Es un lenguaje de programación libre y es open source.
        </p>
        <!-- comunivado dos -->
  
        <br>
        <h1>Comunicado 33/2019</h1>
       
        <hr>
        <p class="pa">
          Ante la toma pacífica de las oficinas de la Jefatura Departamental de Trabajo de Potosí, efectuada por supuestos
          miembros del Comité Cívico Potosinista (COMCIPO), el día de hoy viernes 06 de Diciembre de 2019 en horas de la
          mañana, y a efectos de salvaguardar la integridad física de los servidores públicos y los ambientes de dicha
          repartición estatal; el Ministerio de Trabajo, Empleo y Previsión Social a través de la Dirección General de
          Trabajo, Higiene y Seguridad Ocupacional, COMUNICA a la población en general y en específico a la población
          Potosina, que a partir de la fecha queda suspendida la atención al público en la Jefatura Departamental de
          Trabajo Potosí.
  
          Utiliza como lenguaje TypeScrip:t Por otro lado, Angular utiliza como lenguaje TypeScript la cual fue
          desarrollada y es mantenida por Microsoft. Es un lenguaje de programación libre y es open source.
        </p>
      </main>
    </div>
  </div>
  