<div class="tip-le" >
    
    <div class="contenedor">
  
  <main class="contenido" style="text-align: justify;">
    <h1> Requisitos</h1>
      <br>
      <hr>
  
      <p class="pa">
          Los requisitos deben ser entegados desde al fecha 8 de diciembre hasta el 30 de diciembre:<br><br>
      
         <strong>1.</strong> Carnet de identida: Originaal y fotocopia<br>
         <strong>2.</strong> Carnet de identida: Originaal y fotocopia<br>
         <strong>3.</strong> Carnet de identida: Originaal y fotocopia<br>
        </p>
  </main>
  
  
  </div>
  
  
   </div> 
    
      
      
  
