  <footer>

    <div class="container-footer-all">

      <div class="container-body">

        <div class="colum1">
          <h1>Mas informacion de la compañia</h1>

          <p>Esta compañia se dedica a la venta de software integrado con un
            conjunto de cosas que no se lo que estoy escribiendo, este
            texto es solo para llenara informacion en el cuadro de informacion
            de la compañia.</p>

        </div>

        <div class="colum2">

          <h1>Redes Sociales</h1>

          <div class="row">
            <a href=""> <img src="https://i.ibb.co/ZMxbjHs/facebook.png" alt=""></a>
            <label>Siguenos en Facebook</label>
          </div>
          <div class="row">
            <a href=""> <img src="https://i.ibb.co/Y0PmNBH/twitter.png" alt=""></a>
            <label>Siguenos en Twitter</label>
          </div>
          <div class="row">
            <a href=""> <img src="https://i.ibb.co/w0FWsxV/instagram.png" alt=""></a>
            <label>Siguenos en Instagram</label>
          </div>
          <div class="row">
            <a href=""> <img src="https://i.ibb.co/k6VMhCF/google-plus.png" alt=""></a>
            <label>Siguenos en Google Plus</label>
          </div>
          <div class="row">
            <a href=""> <img src="https://i.ibb.co/H4JCNy6/pinterest.png" alt=""></a>
            <label>Siguenos en Pinteres</label>
          </div>


        </div>

        <div class="colum3">

          <h1>Informacion Contactos</h1>

          <div class="row2">
            <img src="https://i.ibb.co/7SLr3FK/house.png" alt="">
            <label>Calle Ricardo Andrade #34</label>
          </div>
          <div class="row2">
            <img src=" https://i.ibb.co/DkFp81N/smartphone.png" alt="">
            <label>+591 60482404</label>
          </div>

          <div class="row2">
            <img src=" https://i.ibb.co/WKcKnFV/contact.png" alt="">
            <label>ghilmaredso@gmail.com</label>
          </div>

        </div>

      </div>

    </div>

    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2017 Todos los Derechos Reservados | <a href="">Edson</a>
        </div>

        <div class="information">
          <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y
            Condiciones</a>
        </div>
      </div>

    </div>

  </footer>
